@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i|Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
.landing-wrapper {
    grid-area: cnt;
    height: 100%;
    background: url("https://i.imgur.com/LGVMYT6.png");
    background-position: center;
    background-repeat: repeat;
    background-color: rgba(187, 74, 74, 0.699);
    background-blend-mode: darken;
}

.landing-rules-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.landing-rules-head {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 9vw;
}

.landing-rules-subhead {
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 3.5vw;
}

.landing-rules-text {
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 3.5vw;
}

.landing-rules-info {
    text-align: left;
    font-weight: 600;
    font-size: 3.5vw;
}

.landing-example-container {
    display: flex;
    align-items: center;
}

.landing-example-sets {
    height: auto;
    width: 70vw;
}

.landing-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-weight: 700;
    font-size: 6vw;
}

.landing-butt-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-login-butt {
    box-shadow: 0px 0px 0px 3px rgb(78, 116, 78);
    cursor: pointer;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 4vw;
    color: white;
    background-color: rgb(78, 116, 78);
}

.landing-login-butt:hover {
    box-shadow: 0px 0px .5px 1px rgb(78, 116, 78);
}

@media only screen and (min-width: 1024px) {
    .landing-rules-head {
        font-weight: 900;
        font-size: 4.5vw;
    }
    .landing-rules-subhead {
        font-size: 2vw;
    }
    .landing-rules-text {
        padding-bottom: 20px;
        font-weight: 700;
        font-size: 1.5vw;
    }
    .landing-rules-info {
        font-weight: 700;
        font-size: 2vw;
    }
    .landing-example-sets {
        height: auto;
        width: 30vw;
    }
    .landing-prompt {
        font-weight: 700;
        font-size: 2vw;
    }
    .landing-login-butt {
        border: 3px solid black;
        font-size: 2vw;
    }
}