.login-form-wrapper {
    grid-area: cnt;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    background: url("https://i.imgur.com/LGVMYT6.png");
    background-position: center;
    background-repeat: repeat;
    background-color: rgba(187, 74, 74, 0.699);
    background-blend-mode: darken;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.login-head {
    font-family: "Arcade";
    color: #004D05;
    padding: 20px;
    padding-top: 15px;
    font-size: 10vw;
}

.login-form-input {
    width: 80vw;
    padding: 5px;
    margin: .6vh;
    font-size: 5vw;
}

.login-butt {
    font-family: "Arcade";
    margin: .5vh;
    border: 2px black solid;
    font-size: 5vw;
    border-radius: 10px;
    width: 150px;
    background-color: rgb(78, 116, 78);
    color: white;
    box-shadow: 0px 0px 0px 2.5px rgba(82, 81, 81);
    padding: 0;
    padding-top: 5px;
}

.login-butt:hover {
    box-shadow: 0px 0px .5px 1px rgba(82, 81, 81);
}

.no-account,
.login-signup {
    padding: 10px;
    margin: .2vh;
    font-size: 4vw;
}

.login-signup {
    color: black;
    font-size: 4vw;
}

.login-login:hover {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .login-head {
        font-size: 5vw;
    }
    .login-form-input {
        width: 70vw;
        padding: 5px;
        font-size: 2vw;
    }
    .login-butt {
        font-size: 2.2vw;
    }
    .no-account,
    .login-signup {
        padding: 5px;
        font-size: 2.5vw;
    }
}

@media only screen and (min-width: 1024px) {
    .login-head {
        font-size: 4.5vw;
    }
    .login-form-input {
        width: 70vw;
        padding: 5px;
        font-size: 1.5vw;
    }
    .login-butt {
        font-size: 1.6vw;
    }
    .no-account,
    .login-signup {
        padding: 5px;
        font-size: 1.9vw;
    }
}

@media only screen and (min-width: 1500px) {
    .login-head {
        font-size: 2.8vw;
    }
    .login-form-input {
        width: 70vw;
        padding: 5px;
        font-size: 1vw;
    }
    .login-butt {
        font-size: 1.3vw;
    }
    .no-account,
    .login-signup {
        padding: 5px;
        font-size: 1.5vw;
    }
}